  
<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-newsdevoured="{{shredded}}">
		{{#if devoured}}Eat It!{{else}}Eaten{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>